@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-400;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }
}

html {
  height: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Vazirmatn, system-ui, sans-serif;
}

body,
#root {
  height: 100vh;
  width: 100vw;
}

#map {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
